<h1 class="page-header">Products Overview</h1>
<dvi class="container">
    <div class="row">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Date Created</th>
                    <th>User Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in products">
                    <td><b>{{p.name}}</b></td>
                    <td>{{p.price|currency:"kn"}}</td>
                    <td>{{p.dateCreated|date :  "dd.MM.y. HH:mm"}}</td>
                    <td>{{p.userCreated.fullName}}</td>
                    <td><button type="button" class="btn btn-success" ng-click="update(p.id)" ui-sref="updateProduct">Uredi</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</dvi>