<h1 class="page-header">Update Product</h1>

<form role="form" ng-submit="updateProduct()" name="updateProductForm" id="updateProductForm" novalidate>
    <div class="form-group" ng-class="{'has-error':updateProductForm.name.$invalid && updateProductForm.name.$dirty}">
        <label>Name</label>
        <input class="form-control" ng-model="name" name="name" required />
        <p class="help-block" ng-show="updateProductForm.name.$invalid && updateProductForm.name.$dirty">Unos naziv proizvoda je obavezan.</p>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" ng-model="description" name="description"></textarea>
    </div>
    <div class="form-group" ng-class="{'has-error':updateProductForm.price.$invalid && updateProductForm.price.$dirty}">
        <label>Price</label>
        <input class="form-control" ng-model="price" name="price" type="number" min="0" required>
        <p class="help-block" ng-show="updateProductForm.price.$required && updateProductForm.price.$dirty">Unos cijene je obavezan.</p>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="updateProductForm.$invalid" >Save product</button>

</form>
